.link{
    text-decoration: none;
    color: currentColor;
}
.list{
    text-decoration: none;
    list-style: none;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
img{
    display: block;
}
body{
    font-family: "Roboto", "Raleway";
}