
.advantages{
    padding-bottom: 0;
    padding-top: 0;

   @include tel {
    margin-top: 60px;
  }

  @include tablet {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @include desktop {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}
.advantages__container{
    width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
    // @include tel{
    //     width: 450px; //420 + 15 +15
    // }
    // @include tablet{
    //     width: 738px; //738 + 15 +15
    // }
    // @include desktop{
    //     width: 1170px; //1170 + 15 +15
    // }
}
.advantages__list{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
      }
    @include desktop {
        flex-wrap: nowrap;
      }
    }
.advantages__bcgrd{
    @include size(450, 120);
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    @extend %flex-align;
    justify-content: center;
    @include tablet {
        flex-basis: calc((100% - 60px) / 2);
      }
      @include desktop{
        flex-basis: calc((100% - 120px) / 4);
      }
}
.advantages__icons{
    @include size(70, 70);
}
.advantages__title{
    @include font(700, 14, 1.14, 0.03);
    text-transform: uppercase;
    padding-bottom: 10px;
    @extend %flex-align;
    justify-content: center;
    color:var(--article-color);
}
.advantages__descr{
    @include font(400, 14, 1.71, 0.03); 
    width: 450px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    color: var(--article-descr-color);
    margin-bottom: 30px;
    @include tablet {
        flex-basis: calc((100% - 60px) / 2);
      }
      @include desktop{
        flex-basis: calc((100% - 120px) / 4);
      }
}